<div class="container">
  <div class="row">
    <div class="col-8 offset-2">
      <div class="card mt-4">
        <div class="card-body">
          <h5 class="card-title">Example</h5>
          <p>
            <strong>ID</strong>: {{id}}</p>
          <p>
          <p>
            <strong>Highlight</strong>: {{firstName}}</p>
          <p>
            <p>
            <strong>Positive</strong>: {{lastName}}</p>
          <p>
            <p>
            <strong>Negative</strong>: {{username}}</p>
          <p>
            <strong>Description:</strong> {{password}}</p>
            <a href="/">← Back To Home</a>
        </div>
      </div>
    </div>
  </div>
</div>
