<div class="container">
  <div class="row">
    <div class="col-8 offset-2">
      <div class="card mt-4">
        <div class="card-body">
          <h5 class="card-title">Example</h5>
          <p>
            <strong>Highlight</strong>: {{highlight}}</p> <input type="checkbox" name="vehicle3" value="Boat">
            <p>
            <strong>Positive</strong>: {{positive}}</p>
          <p>
            <strong>Negative</strong>: {{negative}}</p>
          <p>
            <strong>Option 1:</strong> {{option1}}</p>
            <p>
            <strong>Option 2:</strong> {{option2}}</p>
            <p>
            <strong>Option 3:</strong> {{option3}}</p>
            <p>
            <strong>Music:</strong> {{music}}
            <strong>Television:</strong> {{video}}</p>

            <a href="/">← Back To Home</a>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>